# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# POVray files
*.pov

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store
.entitlements
.vscode/settings.json
.vscode/

test/FailedTests*.txt
*.png
*.out
manual/src/manual.lyx~
test/vtk/data.case2.vtk
test/vtk/data.case3.0.vtk
examples/qtensor/Qtensor_K_0.01.png
examples/qtensor/Qtensor_K_0.01.png
test/vtk/data.vtk
test/vtk/square.vtk
test/vtk/tetrahedron.vtk
devguide/devguide.lyx~
build/*
build-xcode/*
build-win/*
*.valgrind
/.vs
