name: NoNaNBoxing Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: |
        sudo apt update
        sudo apt install libglfw3
        sudo apt install libsuitesparse-dev
        sudo apt install liblapacke-dev
        python -m pip install --upgrade pip
        python -m pip install regex colored
        
    - name: makeNoNanBoxing
      run: (cd morpho5; sudo make -f Makefile.linux nonanboxing)
    - name: testNoNanBoxing
      run: (cd test; python3 test.py -c)
